<div class="row">
  <div class="col"></div>
    <div class="col-md-7">
      <p id="article_title">
        <strong>Titulo:</strong>
        <%= @article.title %>
      </p>
 
      <p>
        <strong>Texto:</strong>
        <%= @article.text %>
      </p>
 
      <h2>Comentarios</h2>
      <%= render @article.comments %>
      
      <h2>Agregar comentario:</h2>
      <%= render 'comments/form' %>
      <p>
        <%= link_to 'Editar', edit_article_path(@article), class: "btn btn-md btn-info" %>
        <%= link_to 'Regresar', articles_path, class: "btn btn-md btn-primary" %>
      </p>
    </div>
  <div class="col"></div>
</div>